{{#each articles}}
  <article class="article_list-item">
    <h2><a href="{{path}}">{{title}}</a></h2>
    <time datetime="{{formatdate date 'YYYY-MM-DD'}}">{{formatdate date 'MMMM DD, YYYY'}}</time>
    <p>
      {{excerpt}}
    </p>
  </article>
{{/each}}
